{% extends 'base.html' %}
{% block content %}

<h1>{{ destination.location}} Details</h1>


<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ destination.location}}</span>
        <p>Continent: {{ destination.continent }}</p>
        <p>Climate: {{ destination.climate }}</p>
        <p>Language: {{ destination.language }}</p>
    </div>
      <div class="card-action">
        <a href="{% url 'destinations_update' destination.id %}">Edit</a>
        <a href="{% url 'destinations_delete' destination.id %}">Delete</a>
      </div>
    </div>
  </div>
  <!-- New Markup Below -->
  <div class="col s6">
    <form action="{% url 'add_weather' destination.id %}" method="POST">
      {% csrf_token %}
      {{ weather_form.as_p }}
      <input type="submit" class="btn" value="Log Weather">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Weather Status</th></tr>
      </thead>
      <tbody>
        {% for weather in destination.weather_set.all %}
          <tr>
            <td>{{weather.date}}</td>
            <td>{{weather.get_status_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- New Markup Above -->
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Activities for {{ destination.location }}</h3>
    {% if destination.activities.count %}
      {% for activity in destination.activities.all %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">
               <span style="color: {{ activity.name }}">{{ activity.name }}</span>
            </span>
        </div>
        <div class="card-action">
            <form action="{% url 'unassoc_activity' destination.id activity.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <h5>No activities 😿</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Activities</h3>
    {% if activities.count %}
      {% for activity in activities.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: {{ activity.name }}">{{ activity.name }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_activity' destination.id activity.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5> All Activities Added for {{destination.location}} </h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}

