{% extends 'base.html' %}

{% block content %}
    <h1>About the Developer</h1>
 <hr>
    <h4>
        Hi! I'm Sandy McGee, a results-driven full-stack software engineer with a strong Teaching/Education background. My expertise lies in creating efficient, user-friendly applications. I'm deeply passionate about topics such as special education, animal rescue, travel, and environmental conservation through technology. 
        My goal is to  build purposeful software solutions for a brighter future.
    </h4>
    <h3>Hire Me</h3>
<p>sandyasomcgee@gmail.com</p>
<p><a href="https://www.linkedin.com/in/sandymcgee-memphis/">LinkedIn</a></p>

     <footer>All Rights Reserved, &copy; 2023 Destination Collector</footer>
{% endblock %}