{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Destination Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet"  href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bebas+Neue&family=Comfortaa&family=Concert+One&family=Manrope:wght@500&family=Monofett&family=Oxygen&family=Permanent+Marker&family=Poller+One&family=Rubik+Bubbles&display=swap" rel="stylesheet">

</head>
<body>
  <header class="navbar-fixed">
    <nav style="background-color: rgba(18, 131, 60, 0.428);">
  
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}">&nbsp;&nbsp;Destination Planner</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'activities_create' %}">Add an Activity</a></li>
            <li><a href="{% url 'activities_index' %}">View All Activities</a></li>
            <li><a href="{% url 'destinations_create' %}">Add a Destination</a></li>
            <li><a href="{% url 'index' %}">View All Destinations</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
      </div>
   </nav>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer" style="background-color: rgba(18, 131, 60, 0.428);">
    <div class="right">All Rights Reserved, &copy; 2023 Destination Planner &nbsp;</div>
  </footer>
</body>
</html>