{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to <strong><em><a href="#" title="Destination Planner">Destination Planner</a></em></strong>,
    your ultimate travel companion! Whether you're an adventurous globetrotter or a leisurely wanderer, our website is here to make your travel dreams come true. 
    Plan your visit to breathtaking destinations and create exciting itineraries, all with the ease of our tools. 
    Plan your future journeys or log your past ones using our intuitive trip planner and recorder features, where you can customize every detail of 
    your adventure. With Destination Planner, your next unforgettable travel experience is just a click away!</p>
{% endblock %}